{{ define "head-import" }}
{{ end }}

{{ define "main" }}
<main class="home">
  <div class="hero-header">
    <div class="hero">
      <div class="container mt-4">
        <div class="colorful-heading">
          <h1 class="display-1 mt-0">{{ .Params.title }}</h1>
          <h2 class="mx-auto pb-2 mw-1000">{{ .Params.subtitle | markdownify }}</h2>
        </div>
        <p class="h5 mx-auto text-center mw-600">{{ .Params.location.name }}</p>
        <p class="h5 mx-auto mb-5 text-center mw-600">{{ .Params.datetime.name }}</p>
      </div>
    </div>
    <div class="intro mt-5">
      <div class="intro-content container">
        <div class="wallpaper-wrapper">
          <img class="wallpaper-img" src="{{ index .Params.images 0 }}" />
          <figcaption>
            <center>
              <small>Akademy 2022 by Akademy Team
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                <img alt="Creative Commons License" style="border-width:0"
                src="/media/2018/ccby-wee.png" />
                </a>
              </center>
            </small>
          </figcaption>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="community" style="margin-top: -100px;">
    <div class="colorful-heading">
      <h2 class="display-3 my-0 pb-3">{{ .Params.community.title }}</h2>
    </div>
    <p>{{ .Params.community.description | markdownify }}</p>
  </div>

  <div class="container">
    <div class="mw-1000 row mb-4">
      <div class="col">
        <span class="d-inline-block mb-2" aria-label="8-cores and 16 threads with the AMD Ryzen 7 7840HS">
          <span class="h1">300</span>&nbsp;<span class="h2">+</span><br aria-hidden="true">
          Attendees
        </span>
      </div>
      <div class="col">
        <span class="d-inline-block mb-2" role="text">
          <span class="h1">20</span>&nbsp;<span class="h2">+</span><br aria-hidden="true">
          Talks
        </span>
      </div>
      <div class="col">
        <span class="d-inline-block mb-2" role="text">
          <span class="h1">3</span>&nbsp;<span class="h2">+</span><br aria-hidden="true">
          Workshop days
        </span>
      </div>
    </div>
  </div>

  <div class="container" id="city">
    <div class="row py-5">
      <div class="col-12 col-md-6">
        <h2 class="mt-0">About Würzburg</h2>
        <p>A city of roughly 130'000 inhabitants, Würzburg is located in the
        north of Bavaria, about halfway between the technological city of
        Nürnberg and Germany's economic powerhouse, Frankfurt.</p>

        <p>Founded more than 1300 years ago, it rose to significant importance
        in the German empire due to its location at important trade routes.
        Historic highlights include the 1796 Battle of Würzburg, the absorption
        into the Kingdom of Bavaria in 1814, and the 1997 Linux Kongress held in
        the Fortress Marienberg.</p>
      </div>
      <div class="col-12 col-md-6">
        <img src="/media/2024/KulturspeicherNachts.jpg" alt="Photo of Kulturspeicher Museum at Night" class="img-fluid img-rounded">
        <figcaption>
          <center>
            <small>
              Kulturspeicher Museum <a href="https://commons.wikimedia.org/wiki/File:KulturspeicherNachts.jpg"> Manuel Karl, GFDL</a>
            </small>
          </center>
        </figcaption>
      </div>
    </div>
  </div>

  <div class="container" id="university">
    <div class="row py-5">
      <div class="d-flex justify-content-md-center">
        <div class="col-12 col-md-6 order-md-1">
          <h2 class="mt-0">Julius-Maximilians-Universität Würzburg</h2>
          <p>Julius-Maximilians-Universität Würzburg, commonly known as the
          University of Würzburg, stands as a distinguished institution with
          a rich history and a commitment to excellence in education and
          research. Nestled in the heart of Würzburg, Germany, this esteemed
          university offers a diverse range of academic disciplines, fostering
          a dynamic learning environment for students.</p>
        </div>
        <div class="col-12 col-md-6">
          <img src="/media/2024/uni-logo.png" alt="KDE gear logo" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <section class="container" id="kde">
    <div class="row text-left py-5">
      <div class="col-12 col-md-6">
        <h2 class="mt-0">Akademy and KDE</h2>
        <p>Akademy is the annual world summit of KDE, one of the
    largest Free Software communities in the world. It is a free,
          non-commercial event organized by the KDE Community.</p>
        <p>KDE is an international team cooperating on development and
        distribution of Free, Open Source Software for desktop and portable
        computing.</p>
        <p>Our community has developed a wide variety of applications for
        communication, work, education, and entertainment. We have a strong
        focus on finding innovative solutions to old and new problems, creating
        an energetic and open atmosphere for experimentation.</p>
        <p>The event will be held from Saturday 7th – Thursday 12th September 2024. 
        We will have a welcome party the evening before the talks start (Saturday).</p>
      </div>
      <div class="col-12 col-md-6 order-md-0">
        <img src="/media/2024/kde-logo-gray-transparent-source.svg" alt="KDE gear logo" class="img-fluid">
      </div>
    </div>
  </section>

  <div class="container" id="kde">
    <section class="text-center pb-5">
      <h2>Sponsors</h2>
      <p class="mw-600 mx-auto">By sponsoring this event, you will receive substantial exposure and
      reach top technical people from around the world.</p>
      <a href="/2024/sponsoring" class="learn-more">Learn more</a>
    </section>

    <section class="row follow-2023 px-4">
      <div class="col-12 col-md-6 follow-2023-text">
        <h2>Stay up to date!</h2>
        <p class="mb-5">Stay up to date by following Akademy on Mastodon or X (Twitter),
        join our attendees' mailing list or hang out in our Matrix channel or via IRC in
        #akademy on Libera.Chat.</p>
        </div>
        <div class="col-12 col-md-6 mb-5 mb-md-0 d-flex align-items-center justify-content-end">
          <span>
            <a href="https://matrix.to/#/#akademy:kde.org">
              <img src="/media/Fork-Awesome-1.2.0/src/icons/svg/matrix-org.svg" />
            </a>
            <a href="https://mail.kde.org/mailman/listinfo/akademy-attendees">
              <img src="/media/Fork-Awesome-1.2.0/src/icons/svg/envelope-square-modified.svg" />
            </a>
            <a href="https://floss.social/@akademy">
              <img src="/media/Fork-Awesome-1.2.0/src/icons/svg/mastodon.svg" />
            </a>
            <a href="https://twitter.com/akademy">
              <img src="/media/Fork-Awesome-1.2.0/src/icons/svg/twitter.svg" />
            </a>
      <a href="https://web.libera.chat/#akademy">
              <img src="/media/Fork-Awesome-1.2.0/src/icons/svg/ftirc-online-white-transparent.svg" />
      </a>
          </span>
        </div>
      </section>
    </div>
  </div>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Event",
    "name": "KDE Akademy 2024",
    "startDate": "2024-09-07T09:00:00+02:00",
    "endDate": "2024-09-12T17:00:00+02:00",
    "url": "https://akademy.kde.org/2024",
    "description": "Akademy is the annual world summit of KDE, one of the largest Free Software communities in the world. It is a free, non-commercial event organized by the KDE Community.",
    "location": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressCountry": "DE",
        "addressLocality": "Würzburg",
        "postalCode": "97074",
        "streetAddress": "Informatikgebäude (M2), Am Hubland"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 49.78119,
        "longitude": 9.97309
      },
      "name": "Julius-Maximilians-Unversity of Würzburg"
    }
  }
  </script>
</main>
{{ end }}
