// SPDX-FileCopyrigthText: 2024 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: AGPL-3.0-or-later

main {
  --border-radius-md: 0.33rem;
}

.hero-header {
  --hero-max-height: 420px;
  --hero-min-height: 360px;

  --hero-background-fallback: #ad5389;
  --hero-background-gradient: linear-gradient(to top, #ad5389, #3c1053);
  --hero-overlay: rgba(255,255,255,0.1);

  @media (prefer-color-scheme: black) {
    --hero-background-fallback: #ad5389;
    --hero-background-gradient: linear-gradient(to top, #ad5389, #3c1053);
    --hero-overlay: rgba(0,0,0,0.5);
  }

}

.colorful-heading {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--main-heading-color);

  & > * {
    font-weight: bold;
  }
}

.hero {
  align-items: center;
  background-position: top;
  background-size: cover;
  color: var(--bs-heading-color);
  display: flex;
  height: calc(100vh - 100px);
  max-height: var(--hero-max-height);
  min-height: var(--hero-min-height);
  overflow: hidden;
  position: relative;

  --main-heading-color: linear-gradient(280deg, rgb(0,161,255) 0%, rgb(255,68,255));

  &-background, &-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .container {
    z-index: 1;
    align-self: center;
    text-align: center;
  }

  .colorful-heading {
    text-align: center;
  }
}

#community {
  --main-color: #0B7EEE;
  --main-heading-color: linear-gradient(45deg, rgb(0,98,234) 0%, rgb(68,255,255));
}

.mw-600 {
  max-width: 600px;
}

.mw-1000 {
  max-width: 1000px;
}

.home {
  font-size: 1.2rem;

  @media (min-width: 1200px) {
    font-size: 1.5rem;
  }
}

.intro {
  position: relative;
  height: 700px;

  &-content {
    left: 50%;
    position: absolute;
    top: -50px;
    transform: translateX(-50%);
    z-index: 1;
    max-width: 900px;
  }
}

.wallpaper {
  &-img {
    border-radius: var(--border-radius-md);
    box-shadow: 0 0 20px #484747;
    width: 100%;
  }
}

.img-rounded {
  border-radius: var(--border-radius-md);
  box-shadow: 0 0 20px #484747;
}

.follow-2023 {
  background-color: #0368cc;
  border-radius: 25px;

  img {
    width: 48px;
    margin-left: .5rem;
    margin-right: .5rem;
    filter: brightness(0) invert(1);
  }
}

.follow-2023-text * {
  color: var(--bs-body-bg);
}

@media (prefers-color-scheme: dark) {
  .follow-2023 img {
    filter: brightness(1) invert(0);
  }
}
