{{ define "head-import" }}
{{ end }}

{{ define "main" }}
<main class="container">
  <div class="style-2023">
    <section class="pb-5" style="column: 2">
      <div class="row text-left py-5">
        <div class="col-12 col-md-6">
          <table style="font-family: Roboto">
            <tr>
              <td style="width:260px"><b>300 +</b></td>
              <td style="width:260px"><b>20 +</b></td>
              <td style="width:260px"><b>4 +</b></td>
            </tr>
            <tr>
              <td>Attendees</td>
              <td>Talks</td>
              <td>Workshop days</td>
           </tr>
         </table>
	 <h1>{{ .Title }}</h1>
         <p>Akademy is the annual world summit for KDE Community members, developers, translators, designers, and friends.</p>
	 <h3>Come Join Us!</h3>
         <a href="/2023/register" class="button-2023">Register</a>
         <h4>Hybrid Event</h4>
         <h5>Thessaloniki, Greece and Online</h5>
         <h5>15th - 21st July</h5>
       </div>
       <div class="col-12 col-md-6">
         <img class="img-fluid" src="/media/2023/ManLookingAway.svg"
         alt="Line drawing of man looking away" loading="lazy" />
       </div>
     </div>
    <div class="text-left">
      <div class="mt-5 h5">
	<a href="http://devel-home.kde.org/~duffus/akademy/2022/groupphoto/">
        <img class="img-fluid" style="width: 100%;"
        src="/media/2023/akademy2022-groupphoto-med-grayscale.jpg"
        alt="Akademy participants in 2022" loading="lazy" />
	</a>
      </div>
    </div>
    </section>

    <div class="row text-left py-5">
      <div class="col-12 col-md-6">
        <h2 class="mt-0">About Thessaloniki</h2>
        <p>Thessaloniki was founded in 315 BC and has a population of over
        800,000. It is Greece's second major economic, industrial, commercial
        and transportation hub. It is renowned for its rich history, festivals,
        and events, and is considered to be Greece's cultural capital.</p>
      </div>
      <div class="col-12 col-md-6">
        <img src="/media/2023/anastasius-8dkda67jais-unsplash_cropped_0-grayscale.jpg"
        alt="Photo of Thessaloniki" class="img-fluid">
      </div>
    </div>

    <div class="row text-center py-5">
      <div class="d-flex justify-content-md-center">
        <div class="col-12 col-md-6">
          <h2 class="mt-0">University of Macedonia (UoM)</h2>
          <p>The University of Macedonia is a modern state university that
          provides education in a wide range of disciplinary fields. UoM’s
          Department of Applied Informatics makes software, especially free
          software, the main focus of a large part of the university's studies
          and research. The university is located only a short walk from the
          centre of the city, close to cafés, restaurants, and other historical
          and cultural spots.</p>
        </div>
      </div>
    </div>

    <div class="row text-left py-5">
      <div class="col-12 col-md-6 order-md-1">
        <h2 class="mt-0">Akademy and KDE</h2>
        <p>Akademy is the annual world summit of KDE, one of the
	largest Free Software communities in the world. It is a free,
        non-commercial event organized by the KDE Community.</p>
        <p>KDE is an international team cooperating on development and
        distribution of Free, Open Source Software for desktop and portable
        computing.</p>
        <p>Our community has developed a wide variety of applications for
        communication, work, education, and entertainment. We have a strong
        focus on finding innovative solutions to old and new problems, creating
        an energetic and open atmosphere for experimentation.</p>
        <p>The event will be held from 15th – 21st July 2023. We will have a
        welcome party the evening before the talks start.</p>
      </div>
      <div class="col-12 col-md-6 order-md-0">
        <img src="/media/2023/KDEGreeceLogo.svg" alt="KDE logo with a wreath around it"
        class="img-fluid">
      </div>
    </div>

    <section class="text-center pb-5">
      <h2>Sponsors</h2>
      <p>By sponsoring this event, you will receive substantial exposure and
      reach top technical people from around the world.</p>
      <a href="/2023/sponsoring" class="button-2023">Learn more</a>
    </section>

    <section class="row follow-2023 px-4">
      <div class="col-12 col-md-6 follow-2023-text">
        <h2>Stay up to date!</h2>
        <p class="mb-5">Stay up to date by following Akademy on Twitter or Mastodon,
        join our attendees' mailing list or hang out in our Matrix channel.</p>
      </div>
      <div class="col-12 col-md-6 mb-5 mb-md-0 d-flex align-items-center justify-content-end">
        <span>
          <a href="https://matrix.to/#/#akademy:kde.org">
            <img src="/media/Fork-Awesome-1.2.0/src/icons/svg/matrix-org.svg" />
          </a>
          <a href="https://mail.kde.org/mailman/listinfo/akademy-attendees">
            <img src="/media/Fork-Awesome-1.2.0/src/icons/svg/envelope-square-modified.svg" />
          </a>
          <a href="https://floss.social/@akademy">
            <img src="/media/Fork-Awesome-1.2.0/src/icons/svg/mastodon.svg" />
          </a>
          <a href="https://twitter.com/akademy">
            <img src="/media/Fork-Awesome-1.2.0/src/icons/svg/twitter.svg" />
          </a>
        </span>
      </div>
    </section>
  </div>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Event",
    "description": "Akademy is the annual world summit of KDE, one of the largest Free Software communities in the world. It is a free, non-commercial event organized by the KDE Community.",
    "endDate": "2023-07-21T17:00:00+03:00",
    "location": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressCountry": "GR",
        "addressLocality": "Θεσσαλονίκη",
        "postalCode": "546 36",
        "streetAddress": "Εγνατία 156"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 40.6254310,
        "longitude": 22.9603673
      },
      "name": "University of Macedonia"
    },
    "name": "KDE Akademy 2023",
    "startDate": "2023-07-15T09:00:00+03:00",
    "url": "https://akademy.kde.org/2023"
  }
  </script>
</main>
{{ end }}
