{{ define "head-import" }}
{{ end }}

{{ define "main" }}

<h1>Kastle Information</h1>

<p><strong>22-30 August, 2003<br />Nové Hrady, Czech Republic</strong></p>

<p> <img src="/media/2003/zamek4706.jpg" width="300" height="157" /></p>
<p>The KDE Contributor Conference is a gathering of KDE contributors from
all over the world.  Developers, writers, translators, administrators --
anyone who contributes to KDE or uses KDE on a large-scale and has
feedback for contributors -- are all invited to learn from others and
share what they have learned.</p>

<p>The conference will start on Friday, when KDE e.V. holds their
membership meeting.  On Saturday, the conference opens to the public
with a weekend of technical talks covering at least two tracks. The
following Monday will have more workshops and start the week-long
(optional) hack-fest, which will focus on KDE project work. During
all of the proceedings, there will be plenty of time for socializing
and getting to know your fellow KDE contributors.</p>

<p>The conference will be held at the Zámek ("Castle") in <a
href="/media/2003/NoveHrady.pdf">Nové Hrady</a> (PDF) in the
southern part of the <a href="http://www.czech.cz/">Czech Republic</a>
in Central Europe. Nové Hrady is a
<a href="/media/2003/NoveHrady.pdf">stylish location</a> (PDF) for a
stylish desktop environment -- and very close to the real
<a href="http://www.budvar.cz/">Budweiser Budvar Brewery</a>. There
are excellent facilities on and around the castle, including a very fast
network connection and affordable accommodations.</p>

<p>For more information, we have created a conference mailing list. You
can <a href="http://mail.kde.org/mailman/listinfo/novehrady">subscribe</a>
and browse the list
<a href="http://mail.kde.org/pipermail/novehrady">archives</a>. You can also
send a message without being subscribed to
<a href="mailto:novehrady@mail.kde.org">novehrady@mail.kde.org</a>.</p>

<p><strong>Conference Program</strong></p>

<p><strong>KDE e.V. Membership Meeting (non-public)</strong><br />
Date: Friday, August 22, 2003</p>

<p><strong>Technical Talks</strong><br />
Date: Saturday, Sunday and Monday, August 23-25, 2003<br />
See "Program" above for the schedule.</p>

<p><strong>Brewery Tour</strong><br />
Date: Monday, August 25, 2003<br />
A trip to the nearby Budweiser Budvar Brewery or to Český
Krumlov is in the works.</p>

<p><strong>Hacking Festival</strong><br />
Date: Monday through Saturday, August 25-30, 2003<br />
There may only be 30 computers available, so if you would like to
participate, please bring your own computer (e.g. a laptop) if possible.
</p>

{{ end }}
