{{ define "main" }}
<main role="main" style="max-width: 100% !important;">
  <article class="post-content">
    <div class="jumbotron">
      <div class="container">
        {{ if .Params.header_image_link }}
        <img src="{{ .Params.header_image_link }}" alt="" class="konqi">
        {{ end }}
        <h1 class="page-header">{{ .Title }}</h1>
        {{ with .Params.subtitle }}
        <h4>{{ . }}</h4>
        {{ end }}
      </div>

    </div>

    <div>
      {{- if and .Section (not .Params.hideSponsors) }}
      <div class="container">
        <div class="row">
          <section class="main-content col-lg-9">
          {{ .Content }}
          </section>
          {{- partialCached "sponsors.html" . .Section }}
        </div>
      </div>
      {{- else -}}
        <div class="container">
          {{ .Content }}
        </div>
      {{- end }}
    </div>
  </article>

  {{ with .Params.include_html }}
  <div id="wrapper">{{ i18n "loading" }}</div>
  <script>
    window.addEventListener("load", function() {
      fetch("{{ . }}").then(response => {
        return response.text();
      }).then(html => {
        var wrapper = document.getElementById("wrapper");
        wrapper.innerHTML = html;
        var scripts = wrapper.querySelectorAll("script");
        for (var i = 0; i < scripts.length; i++) {
          if (scripts[i].innerText) {
            eval(scripts[i].innerText);
          } else {
            fetch(scripts[i].src).then(response => { return response.text(); })
              .then(js => { eval(js); });
          }
          scripts[i].parentNode.removeChild(scripts[i]);
        }
      });
    });
  </script>
  {{ end }}

  {{ if .Params.tags }}
    <div class="blog-tags">
      Tags:
      {{ range .Params.tags }}
      &nbsp;<a href="/tags/{{ . | urlize }}/">{{ . }}</a>
      {{ end }}
    </div>
  {{ end }}

  {{ if .Site.Params.showRelatedPosts }}
    {{ $related := .Site.RegularPages.Related . | first 3 }}
    {{ with $related }}
    <h4 class="see-also">See also:</h4>
    <ul>
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  {{ end }}
  {{ partial "copyright.html" . }}
</main>
{{ end }}
