{{ define "head-import" }}
{{ end }}

{{ define "main" }}
<h1>Akademy 2013, Bilbao, Basque Country</h1>

<div style="float: right; padding: 1ex; margin: 1ex; width:
	    400px;text-align:center;">
    <a href="http://devel-home.kde.org/~duffus/akademy/2013/groupphoto/">
    <img src="/media/2013/ak2013-group-photo-wee_0.jpg" /></a><br />
  <figcaption>Akademy 2013, Bilbao, Basque Country</figcaption>
</div>

<p>Akademy is the annual world summit of <a href="http://www.kde.org/">KDE</a>,
one of the largest Free Software communities in the world. It is a free,
non-commercial event organized by the KDE Community.</p>

<p>Akdemy 2013 will take place in Bilbao, in the Basque Country of northern
Spain from the 13th to 19th of July.</p>

<p>Akademy features a 2-day conference with presentations on the latest KDE
developments, followed by 5 days of workshops, Birds of a Feather (BoF) and
coding sessions. It is an opportunity to meet key KDE contributors, learn about
the latest features and enjoy the great atmosphere. You will meet developers,
artists, translators, upstream and downstream maintainers, users, and free and
open software industry leaders from all over the world.</p>

{{ end }}

