{{ define "head-import" }}
{{ end }}

{{ define "main" }}

<h1 class="page-header">Akademy 2022</h1>

<div class="container">
<div class="row">
<div class="col-md-5" style="">
 <a href="http://devel-home.kde.org/~duffus/akademy/2022/groupphoto/">
  <img class="img-fluid d-block"
  src="https://akademy.kde.org/sites/akademy.kde.org/files/2022/akademy_logo_simple_0.png" />
 </a>
<h1 class="display-4 mt-3">Join us!</h1>
<p class="lead">Come to Barcelona, the vibrant city of Gaudí, Barça Football Club, and Mediterranean haute cuisine to meet in person, or online, and enjoy the best conference experience. <b>October 1st - October 7th, 2022</b></p>
<p><a class="btn mb-3 btn-secondary" href="/2022/register"><b>Register</b></a>
        </p>
</div>
<div class="col-md-7" style=""><img class="img-fluid d-block" src="/media/2022/akademy2022-groupphoto-med.jpg" /></div>
</div>
</div>



<div class="py-4">
<div class="container">
<div class="row">
<div class="col-md-4 col-6 p-3">
<h2 class="my-3" contenteditable="false"> <b>Attendees on Site</b></h2>
</div>
<div class="col-md-4 col-6 p-3">
<h2 class="my-3"> <b>Hybrid event with an amazing host city</b></h2>
</div>
<div class="col-md-4 col-6 p-3">
<h2 class="my-3"> <b>Amazing speakers from all over the world</b></h2>
</div>
</div>
</div>
</div>

<div class="py-5">
<div class="container">
<div class="row">
<div class="col-md-8">
<img class="img-fluid d-block" src="/media/2022/logan-armstrong-hVhfqhDYciU-unsplash.png" />
</div>
<div class="col-md-4">
<h1 class=""><b>Barcelona</b></h1>
<p class="">The second-largest city in Spain and capital of the Catalonia region will host Akademy this year. The huge, old city is full of places to visit, landmarks to marvel at and is home to a football club you may have heard about.</p>
</div>
</div>
</div>
</div>

<div class="py-5">
<div class="container">
<div class="row">
<div class="col-md-4">
<h1 class=""><b>About Akademy and KDE</b></h1>
<p class="">Akademy is the annual world summit of KDE, one of the largest Free Software communities in the world. It is a free, non-commercial event organized by the KDE Community. <br /><br />KDE is an international team cooperating on development and distribution of Free, Open Source Software for desktop and portable computing. <br /><br />Our community has developed a wide variety of applications for communication, work, education, and entertainment. We have a strong focus on finding innovative solutions to old and new problems, creating an energetic and open atmosphere for experimentation.</p>
</div>
<div class="col-md-8">
<img class="img-fluid d-block" src="/media/2022/akademy2017-groupphoto-3.png" />
</div>
</div>
</div>
</div>

<div class="py-5" style="">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-body">
<h1 class="" style=""><b>Save the Date!</b></h1>
<p class="card-text" style="">The event goes through <b>October 1st - October 7th, 2022.</b> We will have a welcome party planned for the evening before the talks start. Look out for upcoming news on how to register, participate, and attend. Keep up to date by following Akademy on Twitter, joining our attendees mailing list and hangin out in our Matrix channel today.</p>
<div class="row" style="">
<div class="col-md-2"><a class="btn btn-secondary" href="https://mail.kde.org/mailman/listinfo/akademy-attendees" data-target="https://mail.kde.org/mailman/listinfo/akademy-attendees"><b>Alert me!</b></a></div>
<div class="col-md-3"><a class="btn btn-link" style="color: rgb(85, 172, 238);" target="_blank" href="https://matrix.to/#/#akademy:kde.org" data-target="/2022/contact">Contact us here!</a></div>
</div>
</div>
</div>
</div>
</div>
</div>
{{ end }}

