{{ define "head-import" }}
{{ end }}

{{ define "main" }}
<div style="margin: 3em" >
<h1>Akademy 2016 part of QtCon</h1>

<p>2016 is a special year for many FLOSS projects: KDE has its 20th birthday
while Free Software Foundation Europe and VideoLAN both have their 15th
birthday. All these call for celebrations! This year KDE has come together
with Qt, FSFE, VideoLAN and KDAB to bring you QtCon, where attendees can meet,
collaborate and get the latest news of all these projects.</p>

<p>Akademy 2016 was organised as part of QtCon in Berlin. The event started on
Friday the 2nd of September with 3 shared days of talks at the bcc followed by
4 days of Bird of a Feather (BoF) and coding sessions at Technical University of
Berlin.</p>

<table border="1">
<tr>
<th>Day</th>
<th>Morning</th>
<th>Afternoon</th>
<th>Evening</th>
</tr>
<tr>
<td>Thu 1st</td>
<td colspan="2">
  <center><a href="http://ev.kde.org/generalassembly/">KDE e.V. AGM (KDE eV members only)</a>
	  <br />
	  <a href="https://qtcon.org/kdab-training-day">KDAB Paid Training</a>
  </center>
</td>
<td>
</td>
</tr>
<tr>
<td>Fri 2nd</td>
<td colspan="2">
  <center>
    <a href="https://conf.qtcon.org/en/qtcon/public/schedule/2016-09-02.html">QtCon</a>
  </center>
</td>
<td>QtCon Social Event</td>
</tr>
<tr>
<td>Sat 3rd</td>
<td colspan="2">
  <center>
    <a href="https://conf.qtcon.org/en/qtcon/public/schedule/2016-09-03.html">QtCon</a>
  </center>
</td>
<td> </td>
</tr>
<tr>
<td>Sun 4th</td>
<td colspan="2">
  <center>
    <a href="https://conf.qtcon.org/en/qtcon/public/schedule/2016-09-04.html">QtCon</a>
  </center>
</td>
<td> </td>
</tr>
<tr>
<td>Mon 5th</td>
<td colspan="2">
  <center>
    <a href="https://community.kde.org/Akademy/2016/Monday">
	    Akademy BoFs, Workshops &amp; Meetings</a>
  </center>
</td>
<td> </td>
</tr>
<tr>
<td>Tue 6th</td>
<td colspan="2">
  <center>
    <a href="https://community.kde.org/Akademy/2016/Tuesday">
    Akademy BoFs, Workshops &amp; Meetings</a>
  </center>
</td>
<td> </td>
</tr>
<tr>
<td>Wed 7th</td>
<td colspan="1">
  <center>
    <a href="https://community.kde.org/Akademy/2016/Wednesday">
    Akademy BoFs, Workshops &amp; Meetings</a>
  </center>
</td>
<td colspan="2">
  <center>
    <a href="/2016/daytrip">Daytrip</a>
  </center>
</td>
</tr>
<tr>
<td>Thu 8th</td>
<td colspan="2">
  <center>
    <a href="https://community.kde.org/Akademy/2016/Thursday">
    Akademy BoFs, Workshops &amp; Meetings</a>
  </center>
</td>
<td> </td>
</tr>
</table>
</div>
{{ end }}

