{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

<ul class="navbar-nav col">
  {{ $currentPage := . }}
  {{ $menu := .Section | default "main" }}
  {{ if eq .Section "news" }}
    {{ $menu = "main" }}
  {{ end }}
  {{ range (index .Site.Menus $menu) }}
    {{ if .HasChildren }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle{{ if $currentPage.HasMenuCurrent $menu . }} active{{ end }}" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span>{{ .Name }}</span>
        </a>
        <div class="dropdown-menu">
          {{ range .Children }}
            <a class="{{ if $currentPage.IsMenuCurrent $menu . }}active{{ end }} dropdown-item"
               href="{{ .URL | relLangURL }}">{{ .Name }}
            </a>
          {{ end }}
        </div>
      </li>
    {{ else }}
      <li class="nav-item">
        <a class="nav-link{{ if $currentPage.IsMenuCurrent $menu . }} active{{ end }}" href="{{ .URL | relLangURL }}">
          <span>{{ .Name }}</span>
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>
