{{/*
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}
<aside class="col-lg-3 col-md-8 mx-auto mx-lg-0" role="complementary">
  <div class="region region-sidebar-first well">
    <section id="block-block-7" class="block block-block clearfix mt-5 mt-lg-0">
      <div class="card-body"> 
        <div align="center" class="d-flex flex-column gap-3">
          <!-- images should be all 50px hight -->
          {{- $year := .Section }}
          {{- range (index .Site.Data $year).sponsors }}
            <div>
              <h2 class="bg-secondary text-white py-2 mt-0">{{ i18n (print "sponsors-" .type) (len .entities) }}</h2>
              {{- range .entities }}
                <p><a href="{{ printf "/%s/sponsors#%s" $year .id }}"><img src="{{ .img_src }}"></a></p>
              {{- end }}
            </div>
          {{- end }}
          <p><a href="{{ printf "/%s/sponsors" $year }}">more...</a></p>
        </div>
      </div>
    </section>
  </div>
</aside>
