{{ define "head-import" }}
{{ end }}

{{ define "main" }}
<h1>Akademy 2021 - online</h1>
<p>The KDE Community will be hosting 
<a href="/2021">Akademy 2021</a> online between 
<strong>Friday 18th and Friday 25th June</strong>.</p>
<p>The conference is expected to draw hundreds of attendees from the global
<a href="https://kde.org/">KDE Community</a>. Participants will showcase, discuss and plan the future of the Community and its technology. Members from the broader Free and Open Source Software community, local organizations and software companies will also attend.</p>

<div class="w-100 text-center p-2 mx-auto">
<a href="https://devel-home.kde.org/~duffus/akademy/2021/groupphoto/">
 <img src="/media/2021/akademy2021_groupphoto.png" class="w-100" />
</a>
</div>

<h2>Akademy 2021 Program</h2>
<p>Akademy 2021 will begin with virtual training sessions on Friday 18th June. This will be followed by a number of talk sessions held on Saturday 19th, Sunday 20th and the afternoon of Friday 25th. The remaining 5 days will be filled with workshops and Birds of a Feather (BoFs). [<a href="/2021/program">Program</a>]</p>

<p><strong>All the talk recordings are now available on <a href="https://conf.tube/videos/watch/playlist/38bfc51e-253d-4976-ba1c-1a16bcc6d9b0">PeerTube</a> or if you prefer you can also just grab the <a href="https://files.kde.org/akademy/2021/">files</a></strong></p>

<iframe width="560" height="315" sandbox="allow-same-origin allow-scripts allow-popups" src="https://conf.tube/video-playlists/embed/38bfc51e-253d-4976-ba1c-1a16bcc6d9b0" frameborder="0" allowfullscreen=""></iframe><h2>A Different Akademy</h2>

<p>To keep the KDE Community healthy, thriving, and safe, Akademy 2021 will be
another online event. During the program organization period for this year's
activities, we took into consideration multiple timezones to ensure that,
regardless of physical location, every member of the KDE Community can
participate in as many conference activities as they like.</p>

<p>Despite not being able to meet in person again this year, KDE members will
be able to reach an even wider audience and more people will be able to attend
and watch the live talks, learn about the workings of the technology and the
Community by participating in Q&amp;As and panels.</p>

{{ end }}

