{{/*
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

<div class="row mt-3">
  <div class="col-9">
    {{ .Inner | markdownify }}
  </div>
  <div class="col-3">
    <a href="{{ .Get "homepage" }}"><img src="{{ .Get "img" }}" class="img-fluid" /></a>
  </div>
</div>
